@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap);.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #121212;
}

.header-logo a {
  color: #fff;
  text-decoration: none;
}

.header nav ul li {
  list-style: none;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.top-nav-active {
  background-color: #444;
}

.movie-list-wrapper {
  display: flex;
  justify-content: center;
}

ul.movie-list {
  width: 100%;
  max-width: 400px;
}

.movie-list li {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 180px;
  margin-bottom: 20px;
  background-color: #0b0b0b;
  overflow: hidden;
  border-radius: 1px;
  min-width: 320px;
  max-width: 400px;
}

.movie-list li .poster-wrapper {
  width: 130px;
  margin-right: 10px;
}

.movie-list li .poster-wrapper img {
  max-width: 100%;
}

.movie-list li :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 130px);
  padding: 0 5px 5px 0;
  overflow: hidden;
}

.movie-list li :nth-child(2) h3 {
  color: white;
  width: calc(100% - 30px);
}

.movie-list li :nth-child(2) h3 small {
  color: white;
  font-size: 0.7em;
}

.movie-list li :nth-child(2) p {
  position: relative;
  color: #dbdbdb;
  width: 100%;
  font-size: 12px;
  margin: 0;
}

.movie-list li :nth-child(2) .movie-list-item-more {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 100%;
  font-weight: 400;
}

.movie-list li :nth-child(2) .movie-list-item-more a {
  text-transform: capitalize;
  color: #e7b917;
  z-index: 10;
}

.movie-list li :nth-child(2) .movie-list-item-more .more-gradient {
  position: absolute;
  bottom: 10px;
  right: 0;
  height: 30px;
  width: 100%;
  z-index: 5;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b0b0b+0,0b0b0b+42,0b0b0b+100&0.32+0,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(11, 11, 11, 0.32) 0%, rgba(11, 11, 11, 0.61) 42%, #0b0b0b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#520b0b0b", endColorstr="#0b0b0b",GradientType=0 );
  /* IE6-9 */
}

.movie-list li :last-child .watch-later-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: black;
  font-weight: 700;
  background-color: #121212;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.movie-list li :last-child .saved {
  color: #121212;
  background-color: #e7b917;
}

@media only screen and (min-width: 375px) {
  .movie-list li {
    height: 185px;
  }
}

@media only screen and (min-width: 768px) {
  ul.movie-list {
    max-width: 768px;
  }

  ul.movie-list li {
    float: left;
    width: calc((768px / 2) - 20px);
    margin-right: 20px;
  }

  ul.movie-list li:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1000px) {
  ul.movie-list {
    max-width: 820px;
  }

  ul.movie-list li {
    float: left;
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  ul.movie-list {
    max-width: 1200px;
  }

  ul.movie-list li {
    width: 380px;
  }

  ul.movie-list li:nth-child(2n) {
    margin-right: 20px;
  }

  ul.movie-list li:nth-child(3n) {
    margin-right: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: black;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 !important;
  width: 100%;
}

.content .heading,
.content .empty-watchlist-notification {
  color: #dbdbdb;
}

.footer {
  grid-area: footer;
}

.wrapper {
  color: #444;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "header" "content" "footer";
}

.box {
  padding: 10px;
}

.footer {
  background-color: transparent;
}

