$movie-list-item-max-width: 400px;

.movie-list-wrapper {
    display: flex;
    justify-content: center;
}


ul.movie-list {
    width: 100%;
    max-width: 400px;
}

.movie-list li {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 180px;
    // padding: 15px 10px;
    margin-bottom: 20px;
    background-color: $grey-darker;
    overflow: hidden;
    border-radius: 1px;
    min-width: 320px;
    max-width: 400px;

    $poster-width: 130px;

    .poster-wrapper {
        
        width: 130px;
        margin-right: 10px;
        img {
            max-width: 100%;
        }
    }
    

    :nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // max-width: 220px;
        width: calc(100% - 130px);
        padding: 0 5px 5px 0;
        overflow: hidden;

        h3 {
            color: $primary-text;
            // font-size: .5em;
            width: calc(100% - 30px); // don't touch watch later button
            small {
                color: $primary-text;
                font-size: 0.7em;
            }
        }

        p {
            position: relative;
            color: $grey-lightest;
            width: 100%;
            font-size: 12px;
            margin: 0;
            
            
        }

        .movie-list-item-more {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 30px;
            width: 100%;
            font-weight: 400;
            
            // background-color: red;

            a {
                text-transform: capitalize;
                color: $secondary-color;
                z-index: 10;
            }

            .more-gradient {
                position: absolute;
                bottom: 10px;
                right: 0;
                height: 30px;
                width: 100%;
                // background-color: red;
                z-index: 5;

                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b0b0b+0,0b0b0b+42,0b0b0b+100&0.32+0,1+100 */
                background: -moz-linear-gradient(top,  rgba(11,11,11,0.32) 0%, rgba(11,11,11,0.61) 42%, rgba(11,11,11,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(11,11,11,0.32) 0%,rgba(11,11,11,0.61) 42%,rgba(11,11,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(11,11,11,0.32) 0%,rgba(11,11,11,0.61) 42%,rgba(11,11,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520b0b0b', endColorstr='#0b0b0b',GradientType=0 ); /* IE6-9 */
            }
        }

    }


    :last-child {
        .watch-later-btn {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;   
            // color: #fff;
            color: $grey-darkest;
            font-weight: 700;
            // margin-top: 15px;
            background-color: $grey-dark;
            // background-color: transparent;
            // padding: 6px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            
        }

        .watch-later-btn:hover {
      


        }

        .saved {
            color: $grey-dark;
            background-color: $secondary-color;
        }
    }
}

@media only screen and (min-width: $breakpoint-smaller) {
    .movie-list li {
        height: 185px;
    }
}

@media only screen and (min-width: $breakpoint-medium) {
    ul.movie-list {
        max-width: $breakpoint-medium;

        li {
            float: left;
            width: calc((#{$breakpoint-medium} / 2) - 20px);
            margin-right: 20px;
        }

        li:nth-child(2n) {
            margin-right: 0;
        }
    }
}

@media only screen and (min-width: $breakpoint-large) {
    ul.movie-list {
        max-width: 820px;

        li {
            float: left;
            width: $movie-list-item-max-width;
        }
    }
}


@media only screen and (min-width: $breakpoint-larger) {
    ul.movie-list {
        max-width: $breakpoint-larger;

        li {
            width: 380px;
        }
    
        li:nth-child(2n) {
            margin-right: 20px;
        }

        li:nth-child(3n) {
            margin-right: 0;
        }
    }

    
}
